In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

#### 1) 파일을 읽어 데이터프레임을 생성하고 처음 3개의 샘플을 출력하시오. 특성의 개수와 샘플(관측치)의 개수를 구하고 결측치가 있는지 알아보시오. 수치형 특성과 범주형 특성은 무엇인지 파악하시오.

In [6]:
# 방법 1
with open('HW3.csv') as f:
    for _ in range(3):
        print(f.readline())

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance

1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333

2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903

In [4]:
# 방법 2
df = pd.read_csv('HW3.csv', index_col=0)

In [5]:
df.head(3)

,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
3,104.593,7075,514,4,71,11,Male,No,No,Asian,580

In [7]:
df.info() # 샘플 개수 400개

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 1 to 400
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Income     400 non-null    float64
 1   Limit      400 non-null    int64
 2   Rating     400 non-null    int64
 3   Cards      400 non-null    int64
 4   Age        400 non-null    int64
 5   Education  400 non-null    int64
 6   Gender     400 non-null    object
 7   Student    400 non-null    object
 8   Married    400 non-null    object
 9   Ethnicity  400 non-null    object
 10  Balance    400 non-null    int64
dtypes: float64(1), int64(6), object(4)
memory usage: 37.5+ KB

In [8]:
df.isnull().sum() # 결측치 없음

Income       0
Limit        0
Rating       0
Cards        0
Age          0
Education    0
Gender       0
Student      0
Married      0
Ethnicity    0
Balance      0
dtype: int64

In [9]:
df.columns # 특성 수 10개

Index(['Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education', 'Gender',
       'Student', 'Married', 'Ethnicity', 'Balance'],
      dtype='object')

In [10]:
df.describe() # 수치형 특성 : Income, Limit, Rating, Cards, Age, Education, Balance

,Income,Limit,Rating,Cards,Age,Education,Balance
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,45.218885,4735.600000,354.940000,2.957500,55.667500,13.450000,520.015000
std,35.244273,2308.198848,154.724143,1.371275,17.249807,3.125207,459.758877
min,10.354000,855.000000,93.000000,1.000000,23.000000,5.000000,0.000000
25%,21.007250,3088.000000,247.250000,2.000000,41.750000,11.000000,68.750000
50%,33.115500,4622.500000,344.000000,3.000000,56.000000,14.000000,459.500000
75%,57.470750,5872.750000,437.250000,4.000000,70.000000,16.000000,863.000000
max,186.634000,13913.000000,982.000000,9.000000,98.000000,20.000000,1999.000000

#### 범주형 특성 : Gender, Student, Married, Ethnicity
* 특성의 개수는 10개, 관측치는 400개 이며 결측치는 없다.
* 수치형 특성 : Income, Limit, Rating, Cards, Age, Education
* 범주형 특성 : Gender, Student, Married, Ethnicity

In [11]:
# 특성 다 뽑는법
feat = [name for name in df.columns if name != 'Balance'] # Balance가 레이블인가
feat

['Income',
 'Limit',
 'Rating',
 'Cards',
 'Age',
 'Education',
 'Gender',
 'Student',
 'Married',
 'Ethnicity']

In [14]:
# 범주형 특성 뽑는법
cat_feat = [name for name in feat if df[name].dtype == 'object']
cat_feat

['Gender', 'Student', 'Married', 'Ethnicity']

In [13]:
# 수치형 특성 뽑는법

In [15]:
num_feat = [name for name in feat if name not in cat_feat]
num_feat

['Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education']